<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="navbar-brand">TodoListApp</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">        
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/todo" routerLinkActive="active">Todo</a>
        </li>
      </ul>

      <form class="form-inline my-2 my-lg-0">
        <div *ngIf="user.userData; else logintemplate">
          <span class="bg-light d-inline-block p-2 mr-2">Logged in as {{(user.userData.displayName) ? user.userData.displayName : user.userData.email }}<span *ngIf="user.isAdmin | async">(ADMIN)</span></span>
          <button class="btn btn-danger navbar-btn" type="button" (click)="user.logout()">Logout</button>
        </div>

        <ng-template #logintemplate>
          <button class="btn btn-primary" type="button" routerLink="/login" routerLinkActive="active">Login</button>
        </ng-template>
      </form>    
    </div>
  </nav>
</div>
  
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 mt-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>